@model Commit.Web.Controllers.DemoViewModel
@{
    ViewBag.Title = "Staar Test Demo";
}

<h2>Staar Test Demo</h2>

<div>
    <br/>


    <div id="pageContainer">
        <div id="selectionLeft">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <!-- Demographics -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="demoHeading">
                        <h4 class="panel-title">
                            <a class="accordion-header" data-toggle="collapse" data-parent="#accordion" href="#demoCollapse" aria-expanded="false" aria-controls="demoCollapse">
                                Demographics<i class="fa fa-angle-up"></i>  <span class="selectedCount">(<span data-bind="text: checkedDds.length"></span> Selected)</span>
                            </a>
                        </h4>
                    </div>
                    <div id="demoCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="demoHeading">
                        <div class="panel-body">
                            @foreach (var demo in Model.Demographics)
                            {
                                <div>
                                    <b>@demo.Text</b>
                                </div>
                                foreach (var dd in Model.DemographicDetails.Where(dd => dd.DropDownId == demo.DropDownId))
                                {
                                    <div>
                                        <span>@dd.Text</span>
                                        <input type="checkbox" class="demoChecks" value="@dd.MyId" data-bind="checked: checkedDds" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <!-- Categories -->
                <div class="panel panel-default ">
                    <div class="panel-heading" role="tab" id="catHeading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#catCollapse" aria-expanded="false" aria-controls="catCollapse">
                                Categories<i class="fa fa-angle-down"></i>  <span class="selectedCount">(<span data-bind="text: checkedCds.length"></span> Selected)</span>
                            </a>
                        </h4>
                    </div>
                    <div id="catCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="catHeading">
                        <div class="panel-body">
                            @foreach (var cat in Model.Categories)
                            {
                                <div>
                                    <b>@cat.Text</b>
                                </div>
                                foreach (var cd in Model.CategoryDetails.Where(dd => dd.DropDownId == cat.DropDownId))
                                {
                                    <div>
                                        <span>@cd.Text</span>
                                        <input type="checkbox" class="catChecks" value="@cd.MyId" data-bind="checked: checkedCds" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <!-- Subjects -->
                <div class="panel panel-default ">
                    <div class="panel-heading" role="tab" id="subjHeading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#subjCollapse" aria-expanded="false" aria-controls="subjCollapse">
                                Subjects<i class="fa fa-angle-down"></i>  <span class="selectedCount">(<span data-bind="text: checkedSubs.length"></span> Selected)</span>
                            </a>
                        </h4>
                    </div>
                    <div id="subjCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subjHeading">
                        <div class="panel-body">
                            @foreach (var sub in Model.Subjects)
                            {
                                <div>
                                    <span>@sub.Text</span>
                                    <input type="checkbox" class="subjChecks" value="@sub.MyId" data-bind="checked: checkedSubs" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Campuses -->
                <div class="panel panel-default ">
                    <div class="panel-heading" role="tab" id="campHeading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#campCollapse" aria-expanded="false" aria-controls="campCollapse">
                                Campuses<i class="fa fa-angle-down"></i>  <span class="selectedCount">(<span data-bind="text: selectedCamps.length"></span> Selected)</span>
                            </a>
                        </h4>
                    </div>
                    <div id="campCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="campHeading">
                        <div class="panel-body">
                            <select data-role="multiselect"
                                    data-placeholder="Select Campuses"
                                    data-value-primitive="true"
                                    data-text-field="Text"
                                    data-value-field="Value"
                                    data-auto-bind="false"
                                    data-auto-close="false"
                                    data-delay="200"
                                    data-bind="value: selectedCamps,
                                               source: campusSource"
                                    style="width: 300px"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-table">
                <button id="refreshGrid" class="btn btn-primary btn-lg" type="button">Retrieve Tests</button>
                <br/>
                <label>*Note: Only 500 tests will be retrieved</label>
            </div>
        </div>

        <div id="gridRight">
            <div id="grid"></div>
        </div>

    </div>
</div>

@section scripts{
    <script>

        var viewModel = kendo.observable({
            checkedDds: [],
            checkedCds: [],
            checkedSubs: [],
            selectedCamps: [],
            campusSource: new kendo.data.DataSource({
                transport:
                {
                    read:
                    {
                        url: "/api/StaarRequest/ReadCampuses",
                        type: "POST",
                        dataType: "json"
                    }
                },
                serverFiltering: true
            })
        });

        $(document).ready(function() {
            kendo.bind(document.body, viewModel);

            $('#accordion').on('hide.bs.collapse', function() {
                $(this).find('.panel-collapse.in').parent().find('.fa-angle-up').removeClass('fa-angle-up').addClass('fa-angle-down');
            });

            $('#accordion').on('shown.bs.collapse', function() {
                $('#accordion').find('.panel-collapse.in').parent().find('.fa-angle-down').removeClass('fa-angle-down').addClass('fa-angle-up');
            });

            $("#refreshGrid").on('click', function() {
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            });

            $("#grid").kendoGrid({
                autoBind: false,
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/StaarRequest/ReadTests",
                            type: "POST",
                            dataType: "json",
                            data: function() {
                                return {
                                    DemographicDetailIds: viewModel.checkedDds.toJSON(),
                                    CategoryDetailIds: viewModel.checkedCds.toJSON(),
                                    SubjectIds: viewModel.checkedSubs.toJSON(),
                                    CampusIds: viewModel.selectedCamps.toJSON(),
                                };
                            }
                        },
                        serverPaging: true,
                        serverSorting: true,
                        serverFiltering: true,
                    },
                    pageSize: 15,
                },
                height: 750,
                groupable: true,
                sortable: true,
                pageable: {
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "CampusName",
                        title: "School Name",
                    }, {
                        field: "Subject",
                    }, {
                        field: "Demographic",
                    }, {
                        field: "Category",
                    }, {
                        field: "Value",
                    }
                ]
            });

        });
    </script>
}