@model Commit.Web.Controllers.DemoViewModel
@{
    ViewBag.Title = "Demo";
}

<h2>Demo</h2>

<div>
    <h4>Select Items</h4>


    <div id="pageContainer">
        <div id="selectionLeft">
            <div class="panel-group" id="demoAccordion" role="tablist" aria-multiselectable="false">

                <!-- Demographics -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="demoHeading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#demoAccordion" href="#demoCollapse" aria-expanded="false" aria-controls="demoCollapse">
                                Demographics
                            </a>
                        </h4>
                    </div>
                    <div id="demoCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="demoHeading">
                        <div class="panel-body">
                            @foreach (var demo in Model.Demographics)
                            {
                                <div>
                                    <b>@demo.Text</b>
                                </div>
                                foreach (var dd in Model.DemographicDetails.Where(dd => dd.DropDownId == demo.DropDownId))
                                {
                                    <div>
                                        <span>@dd.Text</span>
                                        <input type="checkbox" value="@dd.MyId" data-bind="checked: checkedDds" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <!-- Categories -->
                <div class="panel panel-default ">
                    <div class="panel-heading" role="tab" id="catHeading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#catAccordion" href="#catCollapse" aria-expanded="false" aria-controls="catCollapse">
                                Categories
                            </a>
                        </h4>
                    </div>
                    <div id="catCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="catHeading">
                        <div class="panel-body">
                            @foreach (var cat in Model.Categories)
                            {
                                <div>
                                    <b>@cat.Text</b>
                                </div>
                                foreach (var cd in Model.CategoryDetails.Where(dd => dd.DropDownId == cat.DropDownId))
                                {
                                    <div>
                                        <span>@cd.Text</span>
                                        <input type="checkbox" value="@cd.MyId" data-bind="checked: checkedCds" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <!-- Subjects -->
                <div class="panel panel-default ">
                    <div class="panel-heading" role="tab" id="subjHeading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#subAccordion" href="#subjCollapse" aria-expanded="false" aria-controls="subjCollapse">
                                Subjects
                            </a>
                        </h4>
                    </div>
                    <div id="subjCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subjHeading">
                        <div class="panel-body">
                            @foreach (var sub in Model.Subjects)
                            {
                                <div>
                                    <span>@sub.Text</span>
                                    <input type="checkbox" value="@sub.MyId" data-bind="checked: checkedSubs" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Campuses -->
                <div class="panel panel-default ">
                    <div class="panel-heading" role="tab" id="campHeading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#campAccordion" href="#campCollapse" aria-expanded="false" aria-controls="campCollapse">
                                Campuses
                            </a>
                        </h4>
                    </div>
                    <div id="campCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="campHeading">
                        <div class="panel-body">
                            <select id="campuses"></select>
                            <select data-role="multiselect"
                                    data-placeholder="Type a product e.g. 'Chai'"
                                    data-value-primitive="true"
                                    data-text-field="ProductName"
                                    data-value-field="ProductID"
                                    data-bind="value: selectedProduct,
                              source: products,
                              visible: isVisible,
                              enabled: isEnabled,
                              events: {
                                change: onChange,
                                open: onOpen,
                                close: onClose
                              }"
                                    style="width: 300px"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gridRight">

            <div id="grid"></div>
            <div class="btn-table">
                <button id="refreshGrid" class="btn btn-primary btn-lg" type="button">Refresh Grid</button>
            </div>
        </div>

    </div>
</div>

<script>

    @*var demographicList = @Html.Raw(Json.Encode(Model.Demographics));
    var demoDetailList = @Html.Raw(Json.Encode(Model.DemographicDetails));
    var categoryList = @Html.Raw(Json.Encode(Model.Categories));
    var catDetailList = @Html.Raw(Json.Encode(Model.CategoryDetails));
    var subjectList = @Html.Raw(Json.Encode(Model.Subjects));
    var campusList = @Html.Raw(Json.Encode(Model.Campuses));*@

    var viewModel = kendo.observable({
        //demographics: demographicList,
        //demographicDetails: demoDetailList,
        //categories: categoryList,
        //categoryDetails: catDetailList,
        //subjects: subjectList,
        //campuses: campusList,
        checkedDds: [],
        checkedCds: [],
        checkedSubs: []
    });

    $(document).ready(function () {
        $("#refreshGrid").on('click', function() {
            $('#grid').data('kendoGrid').dataSource.read();
            $('#grid').data('kendoGrid').refresh();
        });

        var selectedCampuses = $("#campuses").kendoMultiSelect({
            placeholder: "Select Campuses",
            dataTextField: "Text",
            dataValueField: "Value",
            autoBind: false,
            autoClose: false,
            filter: "contains",
            minLength: 2,
            delay: 500,
            dataSource: {
                transport:
                {
                    read:
                    {
                        url: "/api/StaarRequest/ReadCampuses",
                        type: "POST",
                        dataType: "json"
                    }
                },
                pageSize: 25,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                navigatable: true
            }
        }).data("kendoMultiSelect");

        kendo.bind(document.body, viewModel);

        $("#grid").kendoGrid({
            autoBind: false,
            dataSource: {
                transport: {
                    read: {
                        url: "/api/StaarRequest/ReadTests",
                        type: "POST",
                        dataType: "json",
                        data: function() {
                            return {
                                //DemographicDetailIds: [1],
                                //CategoryDetailIds: [1,2],
                                //SubjectIds: [1,2,3],
                                //CampusIds: []
                                DemographicDetailIds: viewModel.checkedDds.toJSON(),
                                CategoryDetailIds: viewModel.checkedCds.toJSON(),
                                SubjectIds: viewModel.checkedSubs.toJSON(),
                                CampusIds: selectedCampuses.value(),
                            };
                        }
                    },
                    //serverPaging: true,
                    //serverSorting: true,
                    //serverFiltering: true,
                    //navigatable: true
                },
                //pageSize: 10,
            },
            height: 750,
            //groupable: true,
            //sortable: true,
            //pageable: {
            //    pageSizes: true,
            //    buttonCount: 5
            //},
            columns: [{
                field: "CampusName",
                title: "School Name",
            }, {
                field: "Subject",
            }, {
                field: "Demographic",
            }, {
                field: "Category",
            }, {
                field: "Value",
            }]
        });

    });
</script>

<style>
    #selectionLeft {
        float: left;
        width: 400px;
    }

    #gridRight {
        margin-left: 430px;
        max-width: 1000px;
    }

    .panel-collapse {
        max-height: 500px;
        overflow: auto;
    }

    .btn-table {
        float: right;
        margin-top: 15px;
    }

    input[type=checkbox] {
        float: right;
    }
</style>
